@use '@material/button/mixins' as mdc-button;

@mixin visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin boxshadow {
	box-shadow: -1px 1px 13px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 1px 13px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 13px 0px rgba(0, 0, 0, 0.75);
}

@mixin button-shaped-round {
	border-radius: 36px !important;
}
